<!DOCTYPE html>
<html>

<head>
    <title>Add Student</title>
</head>

<body>

    <h1>Add Student</h1>

    <form method="POST">
        <input type="text" name="name" placeholder="Enter student name">
        <input type="number" name="age" placeholder="Enter student name">

        <button type="submit">Add</button>
    </form>

    <a href="/">Back to Home</a>

</body>

</html>

<!-- <h1>Add Student</h1>

<form method="POST">

<input name="name" placeholder="Name">

<input name="age" type="number" placeholder="Age">

<input name="birthday" type="date">

<input name="email" placeholder="Email">

<input name="phone" placeholder="Phone">

<input name="address" placeholder="Address">

<select name="gender">
<option value="Male">Male</option>
<option value="Female">Female</option>
</select>

<input name="grade" placeholder="Class">

<input name="gpa" type="number" step="0.1">

<button type="submit">Add Student</button>

</form> -->